body{
    background-color: wheat;
    text-align: center;
    
}

ul {
    list-style-position: inside;
}

header{
    text-align: center;
}


.small{
    background-color: darkslateblue;
    width: 50%;
}

.large{
    background-color: darkslategray;
    width:40%;
}

#test{
    background-color: darkred;
    width: 50%;
}

#image2{

    border-radius: 100%;
}